*.ml filter=lfs diff=lfs merge=lfs -text
*.opam filter=lfs diff=lfs merge=lfs -text
*.mli filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.mll filter=lfs diff=lfs merge=lfs -text
*.mly filter=lfs diff=lfs merge=lfs -text
*.gitmodules filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.dockerignore filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.vsprops filter=lfs diff=lfs merge=lfs -text
*.mk filter=lfs diff=lfs merge=lfs -text
*.props filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.i filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
*.keep filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
*.pump filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.cppclean filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.cbproj filter=lfs diff=lfs merge=lfs -text
*.groupproj filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.bf filter=lfs diff=lfs merge=lfs -text
*.win filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.tcc filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.ps filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gp filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.s filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.hs filter=lfs diff=lfs merge=lfs -text
*.nix filter=lfs diff=lfs merge=lfs -text
*.cabal filter=lfs diff=lfs merge=lfs -text
*.un~ filter=lfs diff=lfs merge=lfs -text
*.bazel filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
*.rej filter=lfs diff=lfs merge=lfs -text
*.orig filter=lfs diff=lfs merge=lfs -text
*.export filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.ignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.test filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.markdown filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.sexp filter=lfs diff=lfs merge=lfs -text
*.mlh filter=lfs diff=lfs merge=lfs -text
*.clib filter=lfs diff=lfs merge=lfs -text
*.mldylib filter=lfs diff=lfs merge=lfs -text
*.mllib filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.jinja filter=lfs diff=lfs merge=lfs -text
*.last filter=lfs diff=lfs merge=lfs -text
*.07 filter=lfs diff=lfs merge=lfs -text
*.new filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.rs filter=lfs diff=lfs merge=lfs -text
*.ocp-indent filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.dev filter=lfs diff=lfs merge=lfs -text
*.el filter=lfs diff=lfs merge=lfs -text
*.org filter=lfs diff=lfs merge=lfs -text
*.t filter=lfs diff=lfs merge=lfs -text
*.expected filter=lfs diff=lfs merge=lfs -text
*.defaults filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.ocamlformat filter=lfs diff=lfs merge=lfs -text
*.rei filter=lfs diff=lfs merge=lfs -text
*.re filter=lfs diff=lfs merge=lfs -text
*.mld filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.3 filter=lfs diff=lfs merge=lfs -text
*.pp filter=lfs diff=lfs merge=lfs -text
*.wrong-output filter=lfs diff=lfs merge=lfs -text
*.mlt filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.dot filter=lfs diff=lfs merge=lfs -text
*.tex filter=lfs diff=lfs merge=lfs -text
*.opam~HEAD filter=lfs diff=lfs merge=lfs -text
*.firebaserc filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.darwin filter=lfs diff=lfs merge=lfs -text
*.graphql filter=lfs diff=lfs merge=lfs -text
*.debug filter=lfs diff=lfs merge=lfs -text
*.dev_snark filter=lfs diff=lfs merge=lfs -text
*.fake_hash filter=lfs diff=lfs merge=lfs -text
*.test_posig filter=lfs diff=lfs merge=lfs -text
*.test_posig_snarkless filter=lfs diff=lfs merge=lfs -text
*.test_postake filter=lfs diff=lfs merge=lfs -text
*.test_postake_bootstrap filter=lfs diff=lfs merge=lfs -text
*.test_postake_catchup filter=lfs diff=lfs merge=lfs -text
*.test_postake_five_even_snarkless filter=lfs diff=lfs merge=lfs -text
*.test_postake_five_even_txns filter=lfs diff=lfs merge=lfs -text
*.test_postake_holy_grail filter=lfs diff=lfs merge=lfs -text
*.test_postake_snarkless filter=lfs diff=lfs merge=lfs -text
*.test_postake_split filter=lfs diff=lfs merge=lfs -text
*.test_postake_split_snarkless filter=lfs diff=lfs merge=lfs -text
*.test_postake_txns filter=lfs diff=lfs merge=lfs -text
*.testnet_posig filter=lfs diff=lfs merge=lfs -text
*.testnet_postake filter=lfs diff=lfs merge=lfs -text
*.testnet_postake_many_proposers filter=lfs diff=lfs merge=lfs -text
*.testnet_postake_medium_curves filter=lfs diff=lfs merge=lfs -text
*.testnet_postake_snarkless filter=lfs diff=lfs merge=lfs -text
*.testnet_postake_snarkless_fake_hash filter=lfs diff=lfs merge=lfs -text
*.testnet_public filter=lfs diff=lfs merge=lfs -text
*.yarn-integrity filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.odocl filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.go filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.sum filter=lfs diff=lfs merge=lfs -text
*.sage filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.mdx filter=lfs diff=lfs merge=lfs -text
*.asc filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.dhall filter=lfs diff=lfs merge=lfs -text
*.gcloudignore filter=lfs diff=lfs merge=lfs -text
*.exs filter=lfs diff=lfs merge=lfs -text
*.ex filter=lfs diff=lfs merge=lfs -text
*.bazelrc filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.override filter=lfs diff=lfs merge=lfs -text
*.swp filter=lfs diff=lfs merge=lfs -text
*.ml~ filter=lfs diff=lfs merge=lfs -text
*.babelrc filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.helmignore filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.tpl filter=lfs diff=lfs merge=lfs -text
*.g filter=lfs diff=lfs merge=lfs -text
*.bzl filter=lfs diff=lfs merge=lfs -text
README.md text !filter !merge !diff
